body{
  background-color: lightskyblue;
  color: black;
} 

nav li {
    display: inline-block
    width 100px;
}

#top-section {
    border: 10px solid white;
    width: 50%;

}
#top-section img {
    width: 200px;
    float: left;
}


    
.lower-section {
    border: 10px solid white;
    max-width: 50%;
    display: inline-block;
}
.lower-section img {
    float: left;
}
