body{
  background-color: lightskyblue;
  color: black;
} 

nav li {
    display: inline-block
    width 200px;
}

#top-section {
    border: 10px solid white;

}

.top-section img {
    float: right;
}
    
.lower-section {
    border: 10px solid white;

}

